* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider {
    height: 400px;
    width: 600px;
    border: 2px solid black;
}

#itemsContainer {
    width: 100%;
    height: 100%;
    position: relative;
}



.item {
    height: 100%;
    display: none;
}

/* .item.active è + specifico di item o di active?a quanto pare si, e quindi si può mettere anche prima/sopra a selettore .item */
/* si può usare anche solo active come selettore ma va messo dopo/sotto il selettore .item  */
.active {
    display: block;
}



img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.next {
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%,20%);

    padding: 5px 10px;
    background-color: rgba(128, 128, 128, 0.5);
    border: white 2px solid;
    color: white;
    border-radius: 10px;
}

.previous {
    position: absolute;
    top: 100%;
    left:50%; 
    transform: translate(-50%,-120%);

    padding: 5px 10px;
    background-color: rgba(128, 128, 128, 0.5);
    border: white 2px solid;
    color: white;
    border-radius: 10px;
}




.titleAndText {
    position: absolute;
    top: 70%;
    right: 5%;
    color: white;
   text-align: end;
    
} 